@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.677);
    margin: 1em 2vw
}

.container {
    margin: 2em 0;
}

header h1 {
    display: inline;
    font-size: 30px;
}

header p {
    float: right;
}

.entry {
    background-color: white;
    margin: 0.5em 0;
    padding: 0.7em 0;
    border: 0.3px solid rgba(0, 0, 0, 0.2);
    /*box-shadow: 0 0 6px 1px rgba(136, 136, 136, 0.456); /* line shadow */
    -webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.26);
    box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.26);
}

.field {
    display: flex;
    margin: 0 1.1em;
}

.entry .field {
    border-bottom: 0.3px solid rgba(0, 0, 0, 0.15);
}

.entry .field:last-child {
    border: none;
}

.field p {
    margin: 0.2em 0.2em;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

/* see https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
.field .fieldname {
    flex: none;
    width: 12em;
    margin-right: 3em;
}

.field .fieldvalue {
    flex: auto;
    min-width: 0;
}